# Visual Studio user-specific and build files
.vscode/
.vs/
*.VC.db
*.opensdf
*.sdf
*.suo
*.user
*.userprefs
*.log
*.tlog
*.ipch
*.aps
*.ncb
*.vsconfig

# Build artifacts
Binaries/
Build/
Intermediate/
Saved/
DerivedDataCache/

# Object and compiled files
*.slo
*.lo
*.o
*.obj
*.pdb
*.pyc
*.gch
*.pch

# Dynamic and static libraries
*.so
*.dylib
*.dll
*.lib
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.ipa

# Temporary and autosave files
*.tmp
*.bak
*.orig
*.swp
*.autosave
*.local

# MacOS and Windows system files
.DS_Store
Thumbs.db

# Unreal Engine project and IDE files (exclude generated ones)
*.xcodeproj
*.xcworkspace
*.sln

# Unreal Engine editor-generated config and data
SourceArt/**/*.png
SourceArt/**/*.tga
*_BuiltData.uasset
Saved/*
Intermediate/*
Binaries/*

# Ignore all plugin content
Plugins/
Plugins/VW_ACE_Reference/Source/ThirdParty/NvAIM/Models/nvaim.plugin.gpt.ggm/*/nemotron-4-minitron-1-4b-instruct-dpo2_q4_0.gguf

# Build folder (allow blacklist files and icons)
Build/*
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

# Git LFS cache
.git/lfs/

# Ignore specific content folders
Content/BroadcastStudio/
Content/MetaHumans/
Content/Office_Pack_Vol_1/
Content/Showcase/
Content/TwinmotionMaterials/


# Ignore AI model files in plugin
# Plugins/
# Plugins/VW_ACE_Reference/
# Plugins/VW_ACE_Reference/**/*.gguf
# Plugins/VW_ACE_Reference/Source/ThirdParty/NvAIM/Models/**/*.gguf
